/emacs/.config/emacs/straight*
emacs/.config/emacs/auto-save-list*
/emacs/.config/emacs/.org-id-locations
/emacs/.config/emacs/bookmarks
/emacs/.config/emacs/emacs.org~
/emacs/.config/emacs/projectile-bookmarks.eld
/emacs/.config/emacs/projectile.cache
/emacs/.config/emacs/transient/
/emacs/.config/emacs/var/
/emacs/.config/emacs/bookmarks~
/emacs/.config/emacs/snippets/
/emacs/.config/emacs/recentf
/emacs/.config/emacs/session.10b56c722228372c6b162742623635016500000012660102
