/emacs/.config/emacs/straight*
emacs/.config/emacs/auto-save-list*
/emacs/.config/emacs/.org-id-locations
/emacs/.config/emacs/bookmarks
/emacs/.config/emacs/emacs.org~
/emacs/.config/emacs/projectile-bookmarks.eld
/emacs/.config/emacs/projectile.cache
/emacs/.config/emacs/transient/
/emacs/.config/emacs/var/
/emacs/.config/emacs/bookmarks~
/emacs/.config/emacs/snippets/
/emacs/.config/emacs/recentf
/emacs/.config/emacs/session.10b56c722228372c6b162742623635016500000012660102
/emacs/.config/emacs/url/
/emacs/.config/emacs/#init.el#
/.stow-local-ignore~
/emacs/.config/emacs/eshell/
/emacs/.config/emacs/.mbsyncpass-jee.gpg
/emacs/.config/emacs/.mbsyncpass-jee.gpg-w
/emacs/.config/emacs/.mbsyncpass-puj.gpg
/emacs/.config/emacs/network-security.data
/emacs/.config/emacs/.mbsyncpass-jee2.gpg
/emacs/.config/emacs/tramp
/emacs/.config/emacs/nov-places
/emacs/.config/emacs/recentf~
/emacs/.config/emacs/diary
/emacs/.config/emacs/diary~
/emacs/.config/emacs/elpa/
/emacs/.config/emacs/excorporate/
/emacs/.config/emacs/tutorial/
/sistema.org~
/configuration.nix.bck
/configuration.nix.bck~
/configuration.nix~
/isync/
configuration.nix
post-tangle.sh
